<p style="color: green"><%= notice %></p>

<%= render @brewery %>

<div>
  <%= link_to('Edit this brewery', edit_brewery_path) if current_user %> |
  <%= link_to "Back to breweries", brewery_path %>
  <%= button_to('Destroy this brewery', @brewery, method: :delete) if current_user %>
</div>
